#my-menu {
    border-radius: 0;
    opacity: 0.96;
}

.list-films {
    height: 325px;
    display: inline-block;
    border-radius: 10px;
    border: 1px solid #9cf;
    padding: 10px;
    margin: 5px;
}

.film-box:hover {
    background-color: rgba(153, 204, 255, 0.25);
}

#films-box {
    margin-top: 15px;
    display: inline-block;
}

.film-box img {
    width: 200px;
    height: 260px;
}

.film-box-title {
    width: 210px;
}

.film-image-box {
    max-width: 225px;
}

.other-film-image {
    margin-top: 15px;
}

a.zoom-img-link:hover img {
    opacity: 0.75;
}